<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="https://use.fontawesome.com/44d41c7531.js"></script>
  </head>
  <body>
    <div class='main admin-container'>
      <!-- <img class="logo" src="../logo.png"></img> -->
      <div class="top-nav" >
        <!-- <div class="item"><a href="/admin/auth/metrics">METRICS</a></div> -->
        <div class="item"><a href="/admin/auth/homepage">HOME</a></div>
        <div class="item"><a href="/admin/auth/metrics">METRICS</a></div>
      </div>

      <div class="content">
        <% for(let i=0; i<schedule.length;i++){ %>
        <form class="edit-form" action="/admin/auth/homepage/edit/visit/<%= schedule[i].id %>" method="post">
          <div class="title"  style="color:black">Update Scheduled Visit</div>
          <h3>App Date:</h3>
          <input type="text" name="appt_date" value="<%= schedule[i].appt_date %>"><BR><BR>
          <h3>Parent(s)</h3>
          <input type="text" name="parent_firstName" value="<%= schedule[i].parent_firstName %>"><BR><BR>
          <input type="text" name="parent_lastName" value="<%= schedule[i].parent_lastName %>"><BR><BR>
            <h3>Number Of Children</h3>
          <input type="text" name="number_of_children" value="<%= schedule[i].number_of_children %>"><BR><BR>
          <button type="submit">Update Schedule</button>
        </form>
      <% } %>
      </div>


      <div class="footer"></div>
    </div>
  </body>
</html>
