<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="https://use.fontawesome.com/44d41c7531.js"></script>
  </head>
  <body>
    <div class='main admin-container'>
      <!-- <img class="logo" src="../logo.png"></img> -->
      <div class="top-nav">
        <div class="item"><a href="/admin/auth/homepage">HOME</a></div>
        <div class="item"><a href="/admin/auth/metrics">METRICS</a></div>
        <div></div>
        <div class="item" style="text-align: right; margin-right: 15px"><a href="/pa/logout">LOGOUT</a></div>

      </div>

      <div class="content">
        <h2>Current Scheduled Times</h2>
        <% for(let i=0; i<schedule.length; i++){ %>
          <% if(schedule[i].appt_date === null){ %>
            <% } else { %>
          <p>
            <b>App Date: <%= schedule[i].appt_date %></b><BR>
            Parent/Case Aid Name: <u><%= schedule[i].first_name %> <%= schedule[i].last_name %></u><BR>
              Parent(s): <%= schedule[i].parentFirst_name %> -
                # of Children: <%= schedule[i].number_of_children %><BR>
              Created at: <%= schedule[i].created_at %><BR>
              Updated at: <%= schedule[i].updated_at %><BR>
                <div class="edit-button"> <a href='/admin/auth/homepage/edit/visit/<%= schedule[i].id %>'>Edit</a></div>
                  <div class="edit-button"> <a href='/admin/auth/homepage/remove/visit/<%= schedule[i].id %>'>Remove</a></div>
          </p><BR>
              <% } %>
          <% } %>
      </div>

      <div class="content">
        <h2>Approved Parent Aids:</h2>

          <div class="edit-button"> <a href='/admin/auth/homepage/pa/signup'>ADD NEW AID</a></div>

        <% for(let i=0; i<pa.length;i++){ %>
        <p>
          <b>Name: <%= pa[i].first_name %> <%= pa[i].middle_initial %> <%= pa[i].last_name %></b><BR>
          Agency: <%= pa[i].agency_name %><BR>
          Phone Number: <%= pa[i].phone_number %><BR>
          Email: <%= pa[i].email %><BR>
          Password: <%= pa[i].pw %><BR>
          Created at: <%= pa[i].created_at %><BR>
          Updated at: <%= pa[i].updated_at %><BR>
          <div class="edit-button"> <a class="edit-button" href='/admin/auth/homepage/edit/pa/<%= pa[i].id %>'>Edit</a> </div>
          <div class="edit-button"> <a class="edit-button" href='/admin/auth/homepage/remove/pa/<%= pa[i].id %>'>Remove</a> </div>
          <form action="/pa/login" method="POST">
            <input name="email" type="hidden" value="<%= pa[i].email%>"></input>
            <input name="password" type="hidden" value="<%= pa[i].pw %>"></input>
            <input class="edit-button large" type='submit' value="<%= pa[i].first_name %> <%= pa[i].last_name %> page">
          </form>
          </p><BR>
          <% } %>
      </div>
      <div class="content">
        <h2>Volunteer Login</h2>
        <% for(let i=0; i<volunteer.length;i++){ %>
          Username: <%= volunteer[i].username %><BR>
          Password: <%= volunteer[i].pw %><BR>
            <div class="edit-button"><a href='/admin/auth/homepage/edit/vol/<%= volunteer[i].id %>'>Edit</a></div>
            <div class="edit-button large">  <a href='/volunteer/auth/homepage'>Volunteer Page</a> </div>
          <% } %><BR><BR>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
