<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>LIST OF SCHEDULE TIMES</h2>

    <a href='/admin/auth/homepage/pa/signup'><button>Add New Parent/Case Aid And Appt Time </button></a><BR><BR>

    <% for(let i=0; i<schedule.length; i++){ %>
      <% if(schedule[i].appt_date === null){ %>
        <% } else { %>
      <p>App Date: <%= schedule[i].appt_date %><BR>
        Parent/Case Aid Name: <%= schedule[i].first_name %> <%= schedule[i].last_name %><BR>
          Parent(s): <%= schedule[i].parent_name %> -
            # of Children: <%= schedule[i].number_of_children %><BR>
          Created at: <%= schedule[i].created_at %><BR>
          Updated at: <%= schedule[i].updated_at %><BR>
            <a href='/admin/auth/homepage/edit/visit/<%= schedule[i].id %>'>Edit</a><BR>
              <a href='/admin/auth/homepage/remove/visit/<%= schedule[i].id %>'>Remove</a>

          </p>
          <% } %>
      <% } %>
        <BR><BR>


        <h2>LIST OF PARENT/CASE AIDS</h2>

        <% for(let i=0; i<schedule.length;i++){ %>
        <p>
          Name: <%= pa[i].first_name %> <%= pa[i].middle_initial %> <%= pa[i].last_name %><BR>
              Agency: <%= pa[i].agency_name %><BR>
                Phone Number: <%= pa[i].phone_number %><BR>
                  Email: <%= pa[i].email %><BR>
                    Password: <%= pa[i].pw %><BR>
                      Created at: <%= pa[i].created_at %><BR>
                        Updated at: <%= pa[i].updated_at %><BR>
                          <a href='/admin/auth/homepage/edit/pa/<%= pa[i].id %>'>Edit</a><BR>
                            <a href='/admin/auth/homepage/remove/pa/<%= pa[i].id %>'>Remove</a>
                              <form action="/pa/login" method="POST">
                                <input name="email" type="hidden" value="<%= pa[i].email%>"></input>
                                <input name="password" type="hidden" value="<%= pa[i].pw %>"></input>
                                <button>Go to <%= pa[i].first_name %> <%= pa[i].last_name %> page </button>
                              </form>


        </p><BR>
          <% } %>
          <BR><BR>

          <h2>CURRENT VOLUNTEER LOGIN INFORMATION</h2>
          <% for(let i=0; i<volunteer.length;i++){ %>
            Username: <%= volunteer[i].username %><BR>
            Password: <%= volunteer[i].pw %><BR>
              <a href='/admin/auth/homepage/edit/vol/<%= volunteer[i].id %>'>Edit</a><BR>
                <a href='/volunteer/auth/homepage'><button>Go To Volunteer Homepage</button></a>

            <% } %>








  </body>
</html>
