<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>LIST OF SCHEDULE TIMES</h2>
    <% for(let i=0; i<schedule.length;i++){ %>
      <p>App Date: <%= schedule[i].appt_date %><BR>
        Parent Aid: <%= schedule[i].first_name %> <%= schedule[i].last_name %><BR>
          Created at: <%= schedule[i].created_at %><BR>
          Updated at: <%= schedule[i].updated_at %><BR>
            
          </p>
        <BR><BR>


        <h2>LIST OF APPROVED PARENT/CASE AIDS</h2>
        <p>
          Name: <%= schedule[i].first_name %> <%= schedule[i].middle_initial %> <%= schedule[i].last_name %><BR>
              Agency: <%= schedule[i].agency_name %><BR>
                Phone Number: <%= schedule[i].phone_number %><BR>
                  Email: <%= schedule[i].email %><BR>
                    Password: <%= schedule[i].pw %><BR>
                      Parent Name(s): <%= schedule[i].parent_name %><BR>
                        # of Children: <%= schedule[i].number_of_children %><BR>
                      Created at: <%= schedule[i].created_at %><BR>
                        Updated at: <%= schedule[i].updated_at %><BR>
        </p>
        <BR><BR>

          <% } %>

          <h2>CURRENT VOLUNTEER LOGIN INFORMATION</h2>
          <% for(let i=0; i<volunteer.length;i++){ %>
            Username: <%= volunteer[i].username %><BR>
            Password: <%= volunteer[i].pw %><BR>
            <% } %>








  </body>
</html>
