<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="https://use.fontawesome.com/44d41c7531.js"></script>
  </head>
  <body>
    <div class='main admin-container'>
      <!-- <img class="logo" src="../logo.png"></img> -->
      <div class="top-nav" style="background:none">
        <!-- <div class="item"><a href="/admin/auth/metrics">METRICS</a></div> -->
        <div class="item"><a href="/admin/auth/homepage">HOME</a></div>
        <div class="item"><a href="/admin/auth/metrics">METRICS</a></div>
      </div>

      <div class="content">
        <form class="edit-form" action="/admin/auth/homepage/edit/pa/<%= pa[i].id %>" method="post">
          <div class="title"  style="color:black">EDIT P.A PROFILE</div>
          <h3>P.A. Name:</h3>
          <input class=type="text" name="first_name" value="<%= pa[i].first_name %>">
          <input type="text" name="middle_initial" value="<%= pa[i].middle_initial %>">
          <input type="text" name="last_name" value="<%= pa[i].last_name %>">
          <h3>Agency Name:</h3>
          <input type="text" name="agency_name" value="<%= pa[i].agency_name %>">
          <h3>Phone Number:</h3>
          <input type="text" name="phone_number" value="<%= pa[i].phone_number %>">
          <h3>Email: </h3>
          <input type="text" name="email" value="<%= pa[i].email %>">
          <h3>Password: </h3>
          <input type="text" name="pw" value="<%= pa[i].pw %>">
          <button type="submit">Update Info</button>
        </form>
      </div>


      <div class="footer"></div>
    </div>
  </body>
</html>
