<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="https://use.fontawesome.com/44d41c7531.js"></script>
  </head>
  <body>
    <div class='main admin-container'>
      <!-- <img class="logo" src="../logo.png"></img> -->
      <div class="top-nav">

        <div></div>
        <div></div>
        <div></div>
        <div class="item" style="text-align: right; margin-right: 15px"><a href="/volunteer/logout">LOGOUT</a></div>
      </div>

      <div class="content">
        <h3>List of schedules</h3>
        <a id="invite-pa" href="/volunteer/auth/invite">INVITE PARENT AID</a>
        <% schedules.map((schedule)=>{ %>
          <hr>
          <div>
            <b><p>Parent Name: <%= schedule.parent_firstName %> <%= schedule.parent_lastName %></p></b>
            <p><b>Parent Aid: <%= schedule.first_name %> <%=schedule.last_name %> <%= schedule.middle_initial %></b></p>
            <p>Appointment Date: <%= schedule.appt_date %></p>
            <p>Number of Childern: <%= schedule.number_of_children %></p>
            <p>Angecy Name: <%= schedule.agency_name %></p>
            <p>Parent checked in: <b><%= schedule.parent_checkin %></b></p>
            <p>Parent Aid checked in: <b><%= schedule.pa_checkin %></b></p>
          </div>

          <% }) %>

      </div>


      <div class="footer">
      </div>
    </div>
  </body>
</html>
